$blue: #5d9cec;
$blue-2: #4a89dc;

$aqua: #4fc1e9;
$aqua-2: #3bafda;

$mint: #48cfad;
$mint-2: #37bc9b;

$green: #a0d468;
$green-2: #8cc152;

$yellow: #ffce54;
$yellow-2: #f6bb42;

$orange: #fc6e51;
$orange-2: #e9573f;

$red: #ed5565;
$red-2: #da4453;

$purple: #ac92ec;
$purple-2: #967adc;

$pink: #ec87c0;
$pink-2: #d770ad;

$li-grey: #f5f7fa;
$li-grey-2: #e6e9ed;

$md-grey: #ccd1d9;
$md-grey-2: #aab2bd;

$dk-grey: #656d78;
$dk-grey-2: #434a54;
