@import 'colors';

@media only screen and (min-width: 992px) {
  div.head-content img {width: 35vmin; padding-top: 50px;}
  /*div.head-content h1 {padding-bottom: 4vh;}*/
  div.head-content h2 {font-size: 4vmin;}
  #about p {font-size: 30px;}
  .container {width: 962px;}
}
