@import 'colors';

@media only screen and (max-width: 479px) {
  div.head-content h1 {color: red; padding-bottom: 5vh;}
  div.fullscreen-bg video {display: none}
  div.head-content img {width: 35vmin; padding-top: 50px;}
  div.head-content h2 {font-size: 4vmin;}
  form.pure-form {padding-top: 5vh;}
  form.pure-form a {margin-top: 2vh;}
  header {display: none;}
  .container {margin-left: 9px; margin-right: 9px;}
}
