/*****************************
* General
*****************************/
/*****************************
* Color
*****************************/
/********************************
* FLEX
********************************/
body {
  margin: 0;
  padding: 0; }

/*MAILCHIMP*/
#mc_embed_signup {
  display: none;
  margin-top: 15px;
  margin-bottom: 50px; }

#mc_embed_signup form {
  text-align: center; }

#mc_embed_signup input[type="text"] {
  width: 200px;
  height: 20px;
  padding-right: 50px; }

@media (max-width: 479px) {
  #mc_embed_signup input {
    /*width: 200px;*/
    font-size: 1em;
    /*padding-right: 50px;*/ }

  #mc_embed_signup input[type="submit"] {
    height: 34px !important; } }
#mc_embed_signup input {
  background-color: #fff; }

#mc_embed_signup input[type="submit"] {
  margin-left: -118px;
  height: 42px;
  width: 112px;
  background: #45B3BB;
  color: white;
  border: 0;
  -webkit-appearance: none; }

#mc_embed_signup input[type="email"] {
  color: black; }

#mc_embed_signup ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777;
  opacity: 0.5; }

#mc_embed_signup:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777;
  opacity: 0.5; }

#mc_embed_signup::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777;
  opacity: 0.5; }

#mc_embed_signup:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777;
  opacity: 0.5; }
