#about { 
	background-color: $accent-background;

	h1 {
		color: $accent-text;
	}
	
	p {
		font-size: 1.5em;
	}

	p:last-child {
		border-top: solid 1px $grey-washed;
		padding-top: 1.5em;
		font-size: 1.1em;
		line-height: 2;
	}
}

.descriptor {
	font-style: italic;
	color: $complement-medium;
	margin-right: .7em;
}
