#faq {
	background-color: $primary-background;
	
	h1 {
		color: $primary-text;
		font-size: 4em;
	}
}

#faq-table-header {
	display: flex;
	font-family: 'Ubuntu', sans-serif;
	background-color: $complement-background;
	color: $complement-medium;
	align-content: stretch;
	border-bottom: solid 1px $white;
	box-shadow: 0 0 3px rgba(0, 0, 0, .08);
	margin-top: 2em;

	span {
		padding: .5em;
		flex-grow: 1;
		display: inline-block;
		text-transform: capitalize;
		border-right: 1px solid $white;
		text-align: center;
		font-size: 1.2em;
		font-weight: 700;
		letter-spacing: .05em;
	}

	span:last-child {
		border-right: none;
	}

	span:hover {
		background-color: $complement;
		color: $white;

	}

	.selected {
		background-color: $complement-medium;
		color: $complement-background;
	}
}

#faq-table {
	background-color: $grey-background;
	font-family: 'Ubuntu', sans-serif;
	padding: 1em .5em 0 .5em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	box-shadow: 0 0 3px rgba(0, 0, 0, .08);

	.faq {
		display: inline-block;
		width: 30%;
		margin-bottom: 1em;
		padding: 0 .5em;
		vertical-align: top;
		border-right: solid 1px $grey-washed;

		&:nth-child(3n) {
			border-right: none;
		}

		.question {
			padding-bottom: .2em;
		}

		.answer {
			font-size: 1em;
		}
	}
}

@media(max-width: 1080px) {
	#faq {
		h1 {
			font-size: 2.6em;
		}
	}

	#faq-table {
		.faq {
			width: 40%;
			padding: 0 2em 0 1em;
			border-right: none;
		}
	}
}

@media(max-width: 770px) {
	#faq {
		h1 {
			font-size: 2.2em;
		}
	}

	#faq-table{
		.faq {
			width: 99%;
		}
	}
}