.video-holder {
	background-color: $primary;
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -100;
}

#video-overlay {
	position: absolute;
	display: block;
	top: 0;
	background-color: $primary-medium;
	opacity: .5;
	width: 100%;
	height: 100%;
}

#entry-point {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	color: $white;

	>div {
		position: relative;
		display: flex;
		background-color: rgba(0, 0, 0, .2);
		align-items: center;
		align-self: center;
		padding: 50px;
		width: 100%;
		justify-content: center;
	}
}

#main-logo {
	display: inline-block;
	width: 20%;
	vertical-align: middle;
	margin-right: 5%;

	img {
		width: 100%;
	}
}

@media(max-width: 1180px) {
	#main-logo {
		width: 25%;
	}
}

@media(max-width: 960px) {
	#entry-point {
		>div {
			flex-wrap: wrap;
		}
	}

	#main-logo {
		display: block;
		margin-bottom: 1.5em;
	}
}

#main-details {
	display: inline-block;
	vertical-align: middle;
}

#main-subscribe {
	margin-top: 2em;
	align-self: flex-end;

	p {
		font-weight: 300;
		word-spacing: .1em;
	}

	.invalid {
		background-color: $grey;
		color: $complement-background;
		text-transform: lowercase;
		font-style: italic;
		font-weight: 200;
		border: solid 3px $grey-medium;
	}

	.valid {
		text-transform: lowercase;
		font-weight: 200;
	}
}
