.splash {
	@include background-size(cover);
	@include display-flex();
	@include justify-content(center);
	@include align-items(center);
	position: absolute;
	background-image: url("./../images/background.jpg");
	width: 100%;
	height: 100%;
	z-index: 1;
}

#logo {
	display: block;
	margin: auto;
}


.buttons {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 3em;
	text-align: center;

	button:first-child {
		margin-right: 2em;
	}
}
