.splash {
	@include background-size(cover);
	@include display-flex();
	@include justify-content(center);
	@include align-items(center);
	position: absolute;
	background-image: url("./../images/background.jpg");
	width: 100%;
	height: 100%;
	z-index: 1;
}

#logo {
	display: block;
	margin: auto;
	@media(min-width: 480px) and (max-width: 770px) {
		width: 80vmin;
		@media(orientation: landscape) {
			padding-top: 15vmin;
		}
	}
	@media (max-width: 479px) {
		width: 100vw;
	}
}

.buttons {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 3em;
	text-align: center;

	button:first-child {
		margin-right: 2em;
	}

	@media (max-width: 479px) {
		font-size: 0.7em;
	}
}


// /* WIDE MOBILE LAYOUT (LANDSCAPE/480PX) 
// ----------------------------------------------- */
// @media only screen and (min-width: 480px) and (max-width: 767px) {

// } CLOSE WIDE MOBILE LAYOUT
// /* MOBILE LAYOUT (PORTRAIT/320PX) 
// -----------------------------------------------
// @media only screen and (max-width: 480px) {

// } /* CLOSE MOBILE LAYOUT */