#sponsors {
	background-color: $complement-background;

	h1 {
		color: $complement-text;
	}
}

.list-orgs {
	border: solid 2px $grey-washed;
	display: block;
	padding: 2em;
	text-align: center;

	p {
		color: $grey;
		font-style: italic;
		padding-bottom: 0;
	}
}

