$primary-background: #dce7ea;
$primary-washed: #3b7696;
$primary-light: #2d5977;
$primary: #22415b;
$primary-medium: #1c344c;
$primary-dark: #152838;
$primary-text: #152838;

$complement-background: #f2edef;
$complement-washed: #f95f84;
$complement-light: #f24062;
$complement: #ea2e49;
$complement-medium: #c91739;
$complement-dark: #9e1335;
$complement-text: #56061d;

$accent-background: #e8efef;
$accent-washed: #b1e7e8;
$accent-light: #93d2db;
$accent: #77c4d3;
$accent-medium: #67b6c1;
$accent-dark: #579ba0;
$accent-text: #2a4b4c;

$grey-background: #f9f9f9;
$grey-washed: #e8e8e8;
$grey-light: #b2b2b2;
$grey: #818181;
$grey-medium: #515151;
$grey-dark: #2d2d2d;

$white: #fff;
$black: #000;

$input-text-color: #134215;
