$primary-background: #dce7ea;
$primary-washed: #3b7696;
$primary-light: #2d5977;
$primary: #22415b;
$primary-medium: #1c344c;
$primary-dark: #152838;
$primary-text: #152838;

$secondary-background: #f2edef;
$secondary-washed: #f95f84;
$secondary-light: #f24062;
$secondary: #ea2e49;
$secondary-medium: #c91739;
$secondary-dark: #9e1335;
$secondary-text: #56061d;

$tertiary-background: #e8efef;
$tertiary-washed: #b1e7e8;
$tertiary-light: #93d2db;
$tertiary: #77c4d3;
$tertiary-medium: #67b6c1;
$tertiary-dark: #579ba0;
$tertiary-text: #2a4b4c;

$grey-background: #f9f9f9;
$grey-washed: #e8e8e8;
$grey-light: #b2b2b2;
$grey: #818181;
$grey-medium: #515151;
$grey-dark: #2d2d2d;

$white: #fff;
$black: #000;