video {
	opacity: 0;
	width: 100%;
}

@media(max-aspect-ratio: 16/9) {
	video {
		width: 100%;
	}
}

@media(max-width: 1640px) {
	video {
		width: 150%;
		left: 25%;
	}
}

@media(max-width: 1110px) {
	video {
		width: 220%;
		left: 60%;
	}
}

@media(max-width: 767px) {
	video {
		display: none;
	}
}


button {
	background-color: $complement-medium;
	border: solid 3px $complement-dark;
	border-radius: 3em;
	color: $complement-background;
	font-size: 1.2em;
	font-style: normal;
	font-weight: 400;
	letter-spacing: .02em;
	padding: .5em 2em;
	text-transform: uppercase;
}

input {
	background-color: $primary-light;
	border: solid 3px $primary;
	border-radius: 3em;
	color: $accent;
	font-size: 1.2em;
	padding: .5em;
	width: 65%;
}

::-webkit-input-placeholder {
	color: $primary-washed;
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-weight: 300;
}

::-moz-placeholder {
	color: $primary-washed;
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-weight: 300;
}

:-moz-placeholder {
	color: $primary-washed;
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-weight: 300;
}

:-ms-input-placeholder {
	color: $primary-washed;
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-weight: 300;
}
