header {
	background-color: $black;
	color: $white;
	top: 0;
	display: flex;
	height: 2em;
	justify-content: space-around;
	opacity: 1;
	position: absolute;
	width: 100%;
	font-size: 20px;
	z-index: 10;

	span {
		align-items: center;
		display: flex;
		a:link, a:visited {
			color: $white;
			text-decoration: none;
		}
	}

	@media(max-width: 500px) {
		font-size: 16px;
	}

	@media(max-width: 415px){
		font-size:12px;
	}
}

body {
	min-width: 680px;
	background-color: black;
}
