#banner h2 {
	color: white;
	text-align: center;
}

#sponsor h3 {
	color: white;
	text-align: center;	
}

#sponsor {
	margin-bottom: 50px;
}

/*MAILCHIMP*/
#mc_embed_signup {
	/*display: none;*/
	padding-top: 35px;
	padding-bottom: 20px;
}

#mc_embed_signup h3 {
	color: white;
	text-align: center;
}

#mc_embed_signup form {
	text-align: center;
}

#mc_embed_signup input[type="text"] {
    width: 200px;
    height: 20px;
    padding-right: 50px;
}
@media (max-width: 479px) {
	#mc_embed_signup input {
	    /*width: 200px;*/
		font-size: 1em;
	    /*padding-right: 50px;*/
	}
	#mc_embed_signup input[type="submit"] {
	    height: 34px !important;
	}	
}

#mc_embed_signup input {
	background-color: #fff;
}

#mc_embed_signup input[type="submit"] {
    margin-left: -118px;
    height: 2.2em;
    width: 160px;
    font-weight: bold;
    background: #ED1C24;
    color: white;
    border: 0;
    -webkit-appearance: none;
}

#mc_embed_signup input[type="email"] {
	color: black;
	border: none;
}

#mc_embed_signup ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #777;
	opacity:  0.5;    
}
#mc_embed_signup:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #777;
	opacity:  0.5;  
}
#mc_embed_signup::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #777;
	opacity:  0.5;  
}
#mc_embed_signup:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #777;
	opacity:  0.5;  
}