/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 30 of _layout.scss
        from line 5 of ./style.scss

25: 	}
26: 
27: body {
28: 	min-width: 680px;
29: }

Backtrace:
_layout.scss:30
./style.scss:5
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/scss/parser.rb:1164:in `expected'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/scss/parser.rb:1098:in `expected'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/scss/parser.rb:1093:in `tok!'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/scss/parser.rb:640:in `block'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/scss/parser.rb:633:in `ruleset'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/scss/parser.rb:657:in `block_child'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/scss/parser.rb:647:in `block_contents'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/scss/parser.rb:117:in `stylesheet'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/scss/parser.rb:42:in `parse'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/engine.rb:403:in `_to_tree'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/engine.rb:309:in `to_tree'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/engine.rb:295:in `render_with_sourcemap'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:328:in `block in watch'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/home/brian_chuk/.rvm/gems/ruby-1.9.3-p547/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 30 of _layout.scss\A         from line 5 of ./style.scss\A \A 25: 	}\A 26: \A 27: body {\A 28: 	min-width: 680px;\A 29: }"; }
